/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #5b5b5b;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.container {
    width: 80%;
    max-width: 1200px;
}

/* Fila de tarjetas */
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* Estilo de cada tarjeta */
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    color: #555;
    margin-bottom: 15px;
}

.card a {
    font-size: 1.1em;
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.card a:hover {
    color: #0056b3;
}

/* Responsividad */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 80%;
        margin-bottom: 20px;
    }
}
